<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<body>
    <div class="card">
        <div class="card-header">
            <h2>Editar Artigo</h2>
        </div>
        <div class="card-body">
            <form action="/articles/save" method="post">
                <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo">
                <br>
                <textarea name="body" id="article" class="form-control"></textarea>
                <br>
                <label class="form-label">Categoria:</label>
                <select name="category" id="category" class="form-control">
                    <% for(let category of categories) { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% } %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>      
    </div>
</body>

<%- include('../../partials/scripts.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: 'textarea#article',
        plugins: 
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    
});
</script>
